<%- include ('header') -%>

<body>
    <div class="box" id="heading">
        <h2><%= date %></h2>
    </div>
    <div class="box" id="">
        <% for (let i = 0; i < tasks.length; i++) { %>
        <div class="item" id="ss">
            <input type="checkbox">
            <p><%= tasks[i] %></p>
        </div>
        <% } %>
        <form action="/" method="post">
            <input type="text" name="newTask" placeholder="Task" autofocus autocomplete="off">
            <button type="submit" name="button" value="<%= type %>">+</button>
        </form>
    </div>


</body>
<%- include ('footer') -%>